@import "./base";
@import "./layout";
@import "./variables";
@import './typography';

.header_ads {
  height: 2.5rem;
  background-color: $color-black;
}
.main--menu {
  margin: 2% 2%;
}
.main--menu li {
  padding-right: 1.5rem;
  color: $color-grey;
}
.main--menu span {
  padding-right: 1rem;
}
.logo {
  height: 4rem;
}
.logo img {
  height: 100%;
}
.header_ads {
    color: $color-white;
}
.ad-link a{
    color: $color-white;
    padding-left:1rem;
}