@import "./base";
@import "./layout";
@import "./variables";
@import "./typography";

.header_ads {
  height: 2.5rem;
  background-color: $color-black;
}
.main--menu {
  margin: 2% 2%;
}
.main--menu li {
  padding-right: 1.5rem;
  color: $color-grey;
}
.main--menu span {
  padding-right: 1rem;
}
.logo {
  text-align: center;
  height: 4rem;
}
.logo img {
  height: 100%;
}
.header_ads {
  color: $color-white;
}
.ad-link {
  margin-left: 1rem;
  border-bottom: 1px solid $color-white;
  letter-spacing: 0.09375rem;
  cursor: pointer;
}
.recipes-footer {
  height: 3rem;
  background-color: $color-grey;
  color: $color-white;
  width: 100%;
  span {
    margin: 0 1rem;
  }
}
.page-error {
  margin-top: 4rem;
  color: $color-red;
}
.main-content {
  flex: 1;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (max-width: 48rem) {
  header .header-menu {
    flex-direction: column;
  }
  .main--menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5% 0;
    &:first-child {
      background-color: $color-antique-white;
    }
  }
  .logo {
    margin: 7% 0;
  }
}
